@import "variables";
#referencie {
  z-index: 0;
  color: $pink;
  width: 100%;
  padding: 200px $padding 50px;
  background-color: $grey;

  .left-big {
    margin-right: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .recenzie-wrapper {
    width: 100%;
    // overflow: hidden;

    .text {
      width: 100%;
      line-height: 1.8em;
      margin: 25px 0 25px;

      &.more {
        display: none;
      }

      p {
        display: inline-block;
        margin-bottom: 10px;
        font-weight: 300;
      }
    }

    .button {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      border: none;
      cursor: pointer;
      font-size: $fontSize3;
      margin: 0 auto;
      margin-top: 40px;
      color: $grey;
      background-color: $pink;
      padding: 15px 40px;
      border-radius: 30px;
      align-self: center;
    }
  }
}
