@import url("../assets/fonts/*");

$red: #c28283;
$pink: #f9e8eb;
$grey: #476667;
$white: #ffffff;
$black: #000000;

$fontSize1: 2em;
$fontSize2: 2em;
$fontSize3: 1.2em;
$fontSize4: 1em;

$spacing: 1px;
$padding: 20px;
