@import "variables";

.buttons {
  display: flex;

  .button {
    font-size: $fontSize3;
    border-radius: 30px;
    padding: 5px 30px;
    color: $white;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    transition: 0.3s ease-in;

    &::after {
      content: url("../assets/ELEMENTS/arrow.svg");
      width: 10px;
    }
  }
}
