#galeria {
  padding: 0 200px;
  padding-top: 50px;
  z-index: 1;
  position: relative;
  top: 0;

  .heading-arrow {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    margin-bottom: 20px;

    img {
      width: 100px;
    }
  }
  .galery {
    img {
      max-height: 400px;
      width: auto;
      margin: 5px;
      transform: scale(1);
      transition: 0.5s;
      z-index: 9;

      &:hover {
        transform: scale(1.1);
        z-index: 10;
      }
    }
    transition: 2s;
    transform: translateX(0);

    display: flex;

    &.moved {
      transform: translateX(-50%);
    }
  }

  #move-galery {
    transform: rotateZ(0);
    transition: 2s;
    &.moved {
      transform: rotateZ(180deg);
    }
  }
  margin-bottom: -100px;
}
