@import url("../assets/fonts/*");

$red: #c28283;
$pink: #f9e8eb;
$grey: #476667;
$white: #ffffff;
$black: #000000;

$fontSize1: 72px;
$fontSize2: 60px;
$fontSize3: 18px;
$fontSize4: 16px;

$spacing: 1px;
